body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background: #f4f4f4;
}

/* Golobal */
.container{
	width: 88%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.button{
	background-color: #e3491d;
	color: #fff;
	font-size: 14px;
	padding-left: 20px;
	padding-right: 20px;
	border: 0;
	border-radius: 3px;
	height: 36px;
}

header{
	padding-top: 30px;
	background: #35424a;
	min-height: 70px;
	border-bottom: 3px solid #e3491d;
}	

header a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
}

header li{
	list-style: none;
	display: inline;
	padding: 0 20px 0 20px;
}

header #my-name{
	float: left;
	color: #fff;
}

header #my-name h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header a:hover{
	color: #ccc;
	font-weight: bold;
}

header .highlight, header .current a{
	color: #e3491d;
	font-weight: bold;
}

#quotes{
	background: url('showcase.jpg') no-repeat 0 -400px;
	min-height: 400px;
	text-align: center;
	color: #fff;
}

#quotes h1{
	font-size: 55px;
	margin-top: 200px;
	margin-bottom: 10px;
}

#quotes p{
	font-size: 20px;
}

#any-updated{
	padding: 15px;
	background-color: #35424a;
	color: #fff;
}

#any-updated h1{
	float: left;
}

#any-updated form{
	float: right;
	margin-top: 15px;
}

#any-updated input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
	border: 0;
	border-radius: 3px;
}

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	width: 30%;
	text-align: center;
	padding: 10px;
}

#boxes .box img{
	width: 300px;
	height: 150px;
	border: 1px solid #ccc;
	border-radius: 3px; 
}

#contact{
	background: #f3f3f3;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}

#contact h1{
	text-align: center;
	font-size: 30px;
}

#contact p{
	font-size: 18px;
	text-align: center;
}

#contact form input{
	width: 90%;
	padding: 20px;
	margin: 20px 0 20px 0; 
	font-size: 16px;
	border: 0;
	border-bottom: 2px solid #f48fb1;
	border-radius: 3px;
}

#contact form textarea{
	width:90%;
	height: 200px;
	padding: 20px;
	margin: 20px 0 20px 0;
	border: 0;
	border-bottom: 2px solid #f48fb1;
	border-radius: 5px;
	font-size: 16px;
}

#contact form label{
	font-size: 20px;
	font-weight: bold;
}

#contact form button{
	width: 20%;
	height: 60px;
	padding: 4px;
	color: #fff;
	font-size: 20px;
	background-color:  #35424a;
	border: 0;
	margin-top: 5px;
	margin-bottom: 20px;
	border-radius: 4px;
}

#inner_about{
	float: left;
	margin-top: 10px;
	width: 70%;
}

#about h2{
	font-size: 30px;
	font-weight: bold;
}

#about p{
	font-size: 18px;
}

#about .table{
	border-collapse: collapse;
	margin-bottom: 20px;
	
}

#about .table td, th{
	border: 1px solid #ddd;
	padding: 8px;
}

#about .table tr:nth-child(even){
	background-color: #f2f2f2;
}

#about .table tr:hover{
	background-color: #ddd;
}

#about .table th{
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #4CAF50;
	color: white;
}

#sidebar{
	float: right;
	margin-top: 10px;
	width: 30%;
	font-size: 16px;
}

footer{
	padding: 15px;
	color:  #fff;
	background-color:  #e3491d;
	text-align: center;

}

@media (max-width: 768px){
	header #my-name, header nav, header nav li, #any-updated h1, #any-updated form, #boxes .box, #inner_about, #sidebar {
		float: none;
		width: 100%;
		text-align: center;
	}

	#quotes h1{
		margin-top: 45px;
	}

	#any-updated form .button, #contact form button{
		width: 100%;
	}

	#any-updated form input[type="email"]{
		width: 100%;
		margin-bottom: 5px;
	}
}
